* {
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.game-content {
    background-image: url("../img/background.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    display: flex;
    flex-wrap: nowrap;
}
.screen-container {

}
.screen {
    display: block;
    margin: 0 auto;
    border:1px solid black;
    margin: 0 40px;
}
.game-informations {
    width: 400px;
}
.next-piece {
    padding: 10px;
}
.piece {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    border: 5px solid #333;
}
.scoreboard {
    text-align: center;
}
.score-title {
    font-size: 30px;
    margin: 10px 0 0 0;
}
.score {
    font-size: 40px;
    margin: 10px 0 0 0;
}
.addedScore {
    font-size: 20px;
    margin: 5px 0 0 0;
    color: red;
}
