* {
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.game-content {
    background-image: url("../img/background.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    display: flex;
    flex-wrap: nowrap;
    font-family: consolas;
}
.screen-container {
    position: relative;
}
.screen {
    display: block;
    border:1px solid black;
    margin: 0 40px;
}
.game-informations {
    width: 400px;
}
.next-piece {
    padding: 10px;
}
.piece {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    border: 5px solid #333;
}
.scoreboard {
    text-align: center;
}
.score-title {
    font-size: 30px;
    margin: 10px 0 0 0;
}
.score {
    font-size: 40px;
    margin: 10px 0 0 0;
}
.addedScore {
    font-size: 20px;
    margin: 5px 0 0 0;
    color: red;
}
.btn-play {
    font-size: 40px;
    margin: 10px 0;
    background-color: transparent;
    border: 6px solid #fff;
    color: #fff;
    transition: 300ms ease;
    border-radius: 3px;
}
.btn-play:hover, .btn-play:focus {
    background-color: #fff;
    color: #2196F3;
}
.menu {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    height: 60%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%);
    background: rgba(3, 169, 244, 0.9);
    box-shadow: 0px 0px 10px 4px #6bb5ef;
    border-radius: 5px;
}
.stats {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    text-align: left;
    display: none;
}
.stats:after {
    content: 'Click to close';
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    background-image: linear-gradient(to right,transparent -20% ,#fff 50%,transparent 120%);
    text-align: center;
    border-radius: 2px;
    margin-top: -10px;
    animation: show-elem 1s infinite;
}
.last-stats, .general-stats {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.last-stats td, .general-stats td {
    border-top: 2px solid #fff;
}
.last-stats tr:first-child td, .general-stats tr:first-child td {
    border-top: none;
}

.last-stats {
    background-color: #ff4500;
    box-shadow: 0px 0px 10px 10px #ff4500;
    color: #eee;
    font-size: 21px;
}
.last-stats tr:hover td {
    background-color: #ff672e;
}
.general-stats {
    background-color: #8601af;
    box-shadow: 0px 0px 10px 10px #8601af;
    color: white;
    font-size: 18px;
}
.general-stats tr:hover td {
    background-color: #9e37be;
}
.second-cell-score {
    text-align: right;
}
.show-elem {
    display: block;
    animation: show-elem 500ms ease;
}
@keyframes show-elem {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
